# --- Python (backend-rest) ---
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/
.pytest_cache/

# --- Java (backend-graphql) ---
target/
*.class
.gradle/
build/
*.jar

# --- Frontend (pendiente) ---
node_modules/
dist/

# --- Variables de entorno (NUNCA se sube) ---
.env
*.env

# --- IDEs ---
.idea/
.vscode/
*.iml


# --- Sistema operativo ---
.DS_Store
Thumbs.db
